.help {
	background : #ffffff;
	padding    : 20px;
	
	h5 {
		margin     : 0;
		padding    : 5px;
		background : #fafafb;
		font-size  : 13px;
	}
	
	h4 {
		font-size  : 14px;
	}
	p{
		margin     : 0;
		padding    : 5px;
		background : #fafafb;
		font-size  : 15px;
	}
	
	.app_help--list ol {
		padding-left : 10px;
	}
	.app_help--list li {
		margin  : 5px;
		font-size     : 12.5px;
		border-bottom : 1px solid #cccccc;
		line-height   : 2;
	}
	.app_help--list li a {
		padding         : 8px 5px 5px;
		display         : block;
		text-decoration : none;
		color           : #333333;
	}
	.app_help--show .app_help--show_content {
		padding : 0.5rem 0 0.6rem;
	}
	
}