.question {
	.question--card {
		box-sizing      : border-box;
		background-size : auto;
		border-radius   : 5px;
		box-shadow      : 0 7px 11px 4px #f3f3f3;
		padding         : 10px;
		dd {
			input[type="radio"], input[type="checkbox"] {
				margin : 8px 0 0 -20px;
			}
			div {
				line-height   : 30px;
				height        : 30px;
				border-bottom : 1px solid #f3f3f3;
				&:last-child {
					border-bottom : none;
					margin-bottom : 0;
				}
			}
		}
	}
	.question--submit {
		margin-bottom : 10px;
		color         : #000000;
		font-size     : 15px;
		border-radius : 20px;
		background    : #ffdd00;
		border        : none;
		&.btn-info.disabled:hover,
		&.btn-info[disabled]:hover,
		&.btn-info.disabled:focus,
		&.btn-info[disabled]:focus,
		&.btn-info.disabled.focus,
		&.btn-info[disabled].focus {
			background : #ffdd00;
			border     : none;
		}
	}
	.question--resubmit{
		margin-bottom : 10px;
		color         : #000000;
		font-size     : 15px;
		border-radius : 20px;
		background    : #ff8f00;
		border        : none;
		&.btn-info.disabled:hover,
		&.btn-info[disabled]:hover,
		&.btn-info.disabled:focus,
		&.btn-info[disabled]:focus,
		&.btn-info.disabled.focus,
		&.btn-info[disabled].focus {
			background : #ff8f00;
			border     : none;
		}
	}
}